<div class="alsea">
	{{#if isTrainer}}
		<a href="/finalizarClase/clases?dni={{dni}}" class="btn btn-primary btn-lg btn-inicio " role="button">Finalizar Clase</a>
	{{else}}
		<a href="/cursos?dni={{dni}}" class="btn btn-primary btn-lg btn-inicio" role="button">Cursos</a>
		<a class="btn btn-primary btn-lg btn-inicio not-implemented" role="button">Clases</a>
		<a class="btn btn-primary btn-lg btn-inicio not-implemented" role="button">Aulas</a>
		<a href="/reportes?dni={{dni}}" class="btn btn-primary btn-lg btn-inicio" role="button">Reportes</a>
		<a href="/finalizarClaseAdmin?dni={{dni}}" class="btn btn-primary btn-lg btn-inicio" role="button">Finalizar Clase</a>
		<a href="/modificarCurso?dni={{dni}}" class="btn btn-primary btn-lg btn-inicio" role="button">Modificar Curso</a>
	{{/if}}
</div>


<script type="text/javascript">
	$('.not-implemented').on('click', function(e) {
		alert("Disculpe, esta funcionalidad será implementada en futuras versiones.");
	});
</script>
