<ul class="cursos-page">
<li class="cursos-page-item">
<ul class="cursos-listado">
	{{#each cursos}}
		<li id="{{this.id_curso}}" class="curso">
			<ul class="cursos-rows">
				<li class="curso-row"><span class="cursos-title">Nombre Curso:</span> {{this.nombre}}</li>
				<li class="curso-row"><span class="cursos-title">Descripción:</span> {{this.nombre}}</li>
			</ul>
		</li>
	{{/each}}
</ul>
</li>

<li class="cursos-page-item">
	{{#each cursos}}
	<div class="bs-example curso-hide curso-{{this.id_curso}}" data-example-id="striped-table">
		<span class="empleados-title">Empleados disponibles para el curso: {{this.nombre}}</span>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Sucursal Nº</th>
					<th>Seleccionar</th>
				</tr>
			</thead>
			<tbody>
				{{#each this.empleados}}
					<tr>
						<th scope="row" data-value="{{this.id_empleado}}">{{this.id_empleado}}</th>
						<td>{{this.nombre}}</td>
						<td>{{this.apellido}}</td>
						<td class="sucursal" data-value="{{this.nroSucursal}}">{{this.nroSucursal}}</td>
						<td>
							<label>
      							<input type="checkbox">
    						</label>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<button type="button" class="btn btn-primary curso-sig" data-curso-id="{{this.id_curso}}">Siguiente</button>
	</div>

	<div class="bs-example clase-hide clase-{{this.id_curso}}" data-example-id="striped-table">
		Clases disponibles para el curso {{this.nombre}}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Descipción</th>
					<th>Fecha</th>
					<th>Entrenador</th>
					<th>Aula</th>
				</tr>
			</thead>
			<tbody>
				{{#each this.clases}}
					<tr data-id-clase={{this.id_clase}}>
						<th scope="row">{{this.id_clase}}</th>
						<td>{{this.descripcion}}</td>
						<td class="clase-fecha">
							<input type="date">
						</td>
						<td>
							<select class="entrenadores-select" id="entrenadores-{{this.id_clase}}">
  								<option class="borrar-option" disabled selected value>seleccione un entrenador</option>
							</select>
						</td>
						<td>
							<select class="aulas-select" id="aulas-{{this.id_clase}}">
  								<option class="borrar-option" disabled selected value>seleccione un aula</option>
							</select>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<button type="button" class="btn btn-primary submit-curso">Siguiente</button>
	</div>

{{/each}}
</li>
</ul>

<script type="text/javascript">

	var empleados_para_curso = [],
		curso_id;

	$('li.curso').on('click', function(e) {
		var $this = $(this);
		curso_id = $this.attr('id');
		$('div.curso-' + $this.attr('id')).toggleClass('curso-hide');

		if ($('div.curso-' + $this.attr('id')).hasClass('curso-hide')) {
			$('input[type=checkbox]:visible').unbind('click');
		} else {
			var empleados;
			$('input[type=checkbox]:visible').on('click', function() {
				empleados = $('input[type=checkbox]:visible');

				var empleados_por_sucursal = {};
				// empleados por sucursal
				$.each(empleados, function(idx, elem) {
					var $emp = $(elem);
					var nro_sucursal = $emp.parent().parent().siblings('td.sucursal').attr('data-value');

					if (empleados_por_sucursal[nro_sucursal])
						empleados_por_sucursal[nro_sucursal].push($emp.parent().parent().siblings('th').attr('data-value'));
					else {
						var empls = [];
						empls.push($emp.parent().parent().siblings('th').attr('data-value'));
						empleados_por_sucursal[nro_sucursal] = empls;
					}
				});

				//validar aca que el que esté checkeado junto con todos los demás de la misma sucursal no exedan el 50% de la misma
				var sucursal_emp_elegido = $(this).parent().parent().siblings('td.sucursal').attr('data-value');
				var empleados_elegidos = $('input[type=checkbox]:visible:checked');
				var cant_empl_sucursal_elegida = 0;

				$.each(empleados_elegidos, function(idx, elem) {
					if ($(this).parent().parent().siblings('td.sucursal').attr('data-value') == sucursal_emp_elegido)
						cant_empl_sucursal_elegida++;
				});


				if (cant_empl_sucursal_elegida > empleados_por_sucursal[sucursal_emp_elegido].length/2) {
					alert("¡No se puede elegir al siguiente empleado porque excede dejaría menos de 50% del personal en la sucursal!");
					$(this).prop('checked', false);
				} else {
					empleados_para_curso.push($(this).parent().parent().siblings('th').attr('data-value'))
				}

			});
		}
	});

	$('.curso-sig').on('click', function(e) {
		var id_curso = $(this).attr('data-curso-id');
		var empleados = $('input[type=checkbox]:visible');
		var alertMe = true;
		$.each(empleados, function(idx, elem) {
			var $emp = $(elem);

			if($emp.is(":checked")){
				alertMe = false;
			}
		});

		if(alertMe){
			alert("¡No ha seleccionado ningún empleado!");
		}else{
			$('div.curso-' + id_curso).hide();
			$('div.clase-' + id_curso).show();
		}
	});


	$('input[type=date]').on('change', function(e) {
		var id_clase = $(this).parent().parent().attr("data-id-clase");

		$.get( "/services/entrenadoresyclases?fecha=" + this.value + '&idClase=' + id_clase +'&cant='+empleados_para_curso.length, function(data) {
			$.each(data.entrenadores, function(idx, elem) {
				$('#entrenadores-'+id_clase).append($('<option>', {
    				value: elem.id_empleado,
    				text: elem.nombre +' '+ elem.apellido
				}));
			})

			$('#entrenadores-'+id_clase + ' .borrar-option').remove();

			$.each(data.aulas, function(idx, elem) {
				$('#aulas-'+id_clase).append($('<option>', {
    				value: elem.id_aula,
    				text: elem.descripcion +' - '+ elem.tipo
				}));
			})

			$('#aulas-'+id_clase + ' .borrar-option').remove();
		});
	});

	$('.submit-curso').on('click', function(e) {
		var clases = [];
		$.each($('tbody tr:visible'), function(idx, elem) {
			var clase = {};
			clase.id = $(this).attr('data-id-clase');
			clase.fecha = $(this).find('.clase-fecha input')[0].value;
			clase.entrenador = $(this).find('.entrenadores-select')[0].value;
			clase.aula = $(this).find('.aulas-select')[0].value;
			clase.empleados=empleados_para_curso;
			clases.push(clase);
		});

		var body = {clases: clases, empleados: empleados_para_curso, id_curso: curso_id};

		$.ajax({
		  type: "POST",
		  url: "/services/altaCurso",
		  data: body,
		  dataType: 'json'
		});

		alert("El curso fue dado de álta con éxito. Se enviaron notificaciones tanto a los entrenadores como a los alumnos!");

		window.location = '/cursos';
	});

</script>
